{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113135812-2"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
function gtag() {
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-113135812-2');
</script>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,300,500,600,700" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  
  <link rel="apple-touch-icon" sizes="57x57" href="../images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon-16x16.png">
  <link rel="manifest" href="../images/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

{% endblock %}

{% block beforeMain %}
  {#  Headers or Navigation  #}
  <div class="absolute w-100 be-bg-white bg-transparent-ns z-1">
    <div class="w-100-ns pv2 flex justify-around-ns items-center be-b--grey-o">
      <a href="{{ data.home._url}}" class="fl">
        {% if data.piece.tags == "" %}
          <img src="../images/logo_be.png" alt="Best Evidence logo" class="w4">
        {% else %}
          <img src="../../images/logo_be.png" alt="Best Evidence logo" class="w4">
        {% endif %}
      </a>
      <a href="{{ data.home._url }}" class="no-underline pt3 f1-ns f2-m f3 fl be-black dib-ns">Best Evidence</a>
      <a href="https://www.bestevidence.info/" class="dn be-button br-pill flex-ns be-white tc be-bg-red no-underline f5 be-btn-s pv2 ph3">Sign up</a>
    </div>

    <nav class="pv3-ns">
      <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
      <label for="burger" class="dn-l pointer absolute top-1 right-1">
        <img src="../images/menu.svg" alt="burger menu" class="w2 dn-ns">
      </label>
      <ul class="list w-100 w-90-m w-70-ns tc flex-ns pl0 justify-around-ns navbar dn menu be-bg-white mt2-s pt2-s mb0-s pt0-ns ph0-s shadow-2-s">
        {% for nav_item in data.home._children %}
          <li class="db dib-ns tc center pv3 f5 pv3-ns">
            <a href="{{ nav_item._url }}" class="no-underline be-nav-grey">
              {{ nav_item.title }}
            </a>
          </li>
        {% endfor %}
        <li class="db tc center pv3 f5 pv3-ns dn-ns"><a href="https://www.bestevidence.info/" class="no-underline be-nav-grey">Sign Up</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block main %}
  {#  Page templates go here  #}
{% endblock %}

{% block afterMain %}
  <section class="be-bg-red pv4 be-white f6">
    <div class="w-60-ns ml6-ns ml2 flex flex-row lh-lrg">
      <div class="flex flex-column">
      <p class="ttu ma0">Need Help?</p>
        <a href="/contact" class="be-white">Contact Us</a>
        <a href="/faqs" class="be-white">FAQs</a>
      </div>
      <div class="flex flex-column ml5">
      <p class="ttu ma0">News</p>
        <a href="/publications" class="be-white">Latest Publications</a>
      </div>
    </div>
    <div class="w-80-ns ml6-ns ml2 mt4">
     <p>Copyright © 2018, BestEvidence All Rights Reserved</p>
    </div>
  </section>
{% endblock %}
