{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113135812-2"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
function gtag() {
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'UA-113135812-2');
</script>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,300,600,700" rel="stylesheet">
{% endblock %}

{% block beforeMain %}
  {#  Headers or Navigation  #}
  <div class="absolute w-100 be-bg-white bg-transparent-ns z-1">
    <div class="w-100-ns pv2 flex justify-around-ns items-center be-b--grey-o">
      <a href="{{ data.home._url}}" class="fl">
        {% if data.piece.tags == "" %}
          <img src="../images/logo_be.png" alt="Best Evidence logo" class="w4">
        {% else %}
          <img src="../../images/logo_be.png" alt="Best Evidence logo" class="w4">
        {% endif %}
      </a>
      <a href="{{ data.home._url }}" class="no-underline pt3 f1-ns f2-m f3 fl be-black dib-ns">Best Evidence</a>
      <a href="https://www.bestevidence.info/" class="dn be-button flex-ns be-white tc be-bg-red no-underline f5 br-pill be-btn-s pv2 ph3">Sign up</a>
    </div>

    <nav class="pv3-ns">
      <input type="checkbox" id="burger" class="absolute top-2 right-1 dn">
      <label for="burger" class="dn-l pointer absolute top-1 right-1">
        <img src="../images/menu.svg" alt="burger menu" class="w2 dn-ns">
      </label>
      <ul class="list w-100 w-80-m w-50-ns tc flex-ns pl0 justify-around-ns navbar dn menu be-bg-white mt2-s pt2-s mb0-s pt0-ns ph0-s shadow-2-s">
        {% for nav_item in data.home._children %}
          <li class="db dib-ns tc center pv3 f5 pv3-ns">
            <a href="{{ nav_item._url }}" class="no-underline be-nav-grey">
              {{ nav_item.title }}
            </a>
          </li>
        {% endfor %}
        <li class="db dib-ns tc center pv3 f5 pv3-ns"><a href="https://www.bestevidence.info/" class="no-underline be-nav-grey">Sign Up</a></li>
      </ul>
    </nav>
  </div>
{% endblock %}

{% block main %}
  {#  Page templates go here  #}
{% endblock %}

{% block afterMain %}
  <section class="quodl-bg-dark-blue pv4 white">
    <div class="w-80 center">
      <a href="/contact" class="white f6">Contact Us</a>
      <p>Copyright © 2018, Quodl All Rights Reserved</p>
    </div>
  </section>
{% endblock %}
